body {
  width: 100vh;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}



//HOME PAGE----------------------------------------

$mainColor: #BCBDC4;

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/studioBg.jpg");
  background-size: cover;
  background-position: center;
}

.mainBg {
  width: 100vw;
  height: 100vh;
  background: rgba(7,32,60, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainHeader {
  padding: 30px;
}

.mainLogo {
  height: 450px;
  width: 450px;
}


.playBtn {
  background-color: rgba(0, 0, 0, 0.75);
  color: $mainColor;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid $mainColor;
  padding: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.playBtn::after {
  content: '';
  z-index: 1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.3em;
  transform: translate3d(-750%, 0, 0) rotate(35deg);
}

.playBtn:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(750%, 0, 0) rotate(35deg);
}


//GAME PAGE-------------------------------------------------------------

$successColor: #C19B28;

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-image: url("./images/background.jpg");
}

.logoTimer {
  position: relative;
  height: 270px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.gameHeader {
  height: 90%;
  width: 90%;
  padding-bottom: 30px;
}

.gameLogo {
  height: 100%;
  width: 100%;
}

.timer {
  position: absolute;
  top: 13%;
  left: 18%;
  height: 100%;
  width: 100%;
}


$d: 100;
$w: 2;

.center {
  position: absolute;
  margin-top: -($d / 2)+px;
  margin-left: -($d / 2)+px;
}

/* -- CIRCLE -- */

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  box-shadow: inset 0 0 0 $w+px rgba(255,255,255,0.2);
}

.l-half, .r-half {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: $w+px solid $mainColor;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

}

.l-half:before {
  border-right: none;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  -webkit-transform-origin: center right;
  -webkit-animation-name: l-rotate;
}

.r-half:before {
  border-left: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  -webkit-transform-origin: center left;
  -webkit-animation-name: r-rotate;
}

/* -- TIMER -- */

.count {
  position: absolute;
  top: -53px;
  width: 100%;
  line-height: $d+px;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  font-family: Helvetica;
  color: #fff;
  z-index: 2;
  animation: fadeout .5s (30 + 1)+s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0.9;
}

@keyframes l-rotate {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(-180deg); }
  100% { -webkit-transform: rotate(-180deg); }
}

@keyframes r-rotate {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}





.gameSection {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questionBox {
  margin-top: 40px;
  width: 600px;
  padding: 20px;
  border: 2px solid $mainColor;
  color: $mainColor;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 5px 0px rgba(255,255,255,0);
}

.answerBoxes {
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.answerBox {
  width: 280px;
  border: 2px solid $mainColor;
  color: $mainColor;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-size: 15px;
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 6px 0px #0B325E;
}

.progressBar {
  list-style: none;
  font-size: 12pt;
  margin-top: 20px;
  margin-right: 55px;
}
.progressBar li {
  border-left: 0.2em solid $mainColor;
  position: relative;
  padding: 14px;
  color: $mainColor;
}
.progressBar li::before {
  content: "•";
  font-size: 2.5em;
  position: absolute;
  left: -0.21em;
  top: -0.45em;
  color: $mainColor;
}

li.successBar {
  border-left-color: $successColor;
  font-weight: bolder;
}
li.successBar::before {
  color: $successColor;
}

.lifelines {
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.lifelineIco {
  width: 90px;
  margin-bottom: 30px;
}



.lifelineIcoUsed {
  position: relative;
}

.friendBubble {
  transition: 250ms;
  position: fixed;
  transform: translateY(700px);
  top: 0;
  height: 250px;
  width: 170px;
  padding: 15px;
  background: linear-gradient(to bottom, rgba(84,95,153,0.2) 0%, rgba(66,78,142,0.2) 100%), url("./images/phone.png") no-repeat center;
  background-size: contain;
  border: 2px solid $mainColor;
  color: $mainColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(#212121, 0.5)
}

.friendIco {
  width: 100px;
}

.frAns {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.publicBubble {
  transition: 250ms;
  position: fixed;
  transform: translateY(700px);
  top: 0;
  height: 250px;
  width: 170px;
  padding: 15px;
  background: linear-gradient(to bottom, rgba(84,95,153,0.3) 0%, rgba(66,78,142,0.3) 100%), url("./images/audience.png") no-repeat center;
  background-size: contain;
  border: 2px solid $mainColor;
  color: $mainColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 10px rgba(#212121, 0.5)
}

.container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.barContainer{
  background-color: #181818;
  box-sizing: border-box;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 10px;
  width: 20px;
  height: 320px;
  float: left;
  border:  1px solid darken($mainColor, 50%);
}

.bar{
  background-color: $mainColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  animation-delay: 0.6s;
  transform-origin: bottom;
}

@keyframes grow{
  from{
    transform: scaleY(0);
  }
}

.publicAnswers {
  margin-bottom: 30px;
  width: 63%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.open {
  transform: translateY(375px);
  transition: 700ms
}

.correct {
  background-color: forestgreen;
  box-shadow: inset -1px 3px 8px 5px darkgreen, 2px 5px 6px 0px #0B325E;
}

.wrong {
  background-color: firebrick;
  box-shadow: inset -1px 3px 8px 5px darkred, 2px 5px 6px 0px #0B325E;
}

.selected {
  background-color: goldenrod;
  box-shadow: inset -1px 3px 8px 5px darkorange, 2px 5px 6px 0px #0B325E;
}



//ENDGAME----------------------------------------------------------------

.endGame {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $mainColor;
  font-size: 25px;
  box-sizing: border-box;
}


.nextGameBtn {
  //background-color: transparent;
  color: $mainColor;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid $mainColor;
  padding: 15px;
  margin-top: 10px;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}

.nextGameBtn::after {
  content: '';
  z-index: 2;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-750%, 0, 0) rotate(35deg);
}

.nextGameBtn:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(750%, 0, 0) rotate(35deg);
}

.endImage {
  width: 100%;
  border: 2px solid $mainColor;
  box-sizing: border-box;
}

.prizeBoard {
  position: relative;
  text-align: center;
  display: flex;
  width: 600px;
}
.prizeBar {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}
.prize {
  position: absolute;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 45px;
  text-shadow: 3px 2px 0 #7A7A7A;

}

.endBar {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background: rgba(9,40,75, 0.9);
  position: absolute;
  bottom: 0;
  border: 2px solid $mainColor;
  border-top: none;
}


